body {
    margin: 0;
    padding: 0;
    background: #000;
    color: white;
    text-align: center;
    font-family: Arial;
}
h1 {
    margin-top: 20px;
}
video {
    width: 95%;
    max-width: 500px;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 20px;
}